/*
Theme Name: Brafé
Theme URI: www.brafe.com
Author: IN Junior
Author URI: www.injunior.com.br
Description: Esse tema foi criado para dar aula no treinamento 2020.2
Version: 1.0
*/


/* ------------ estilos do body -----------------------*/

body {
    --dark: #202020;
    --light: #fefefe;
    --gray: #E9E5D9;
    --gray-dark: #D8D4C9;
    --paulista: #512400;
    --carioca: #d97232;
    --mineiro: #e8a744;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    font-family: Georgia, serif;
    margin: auto;
    max-width: 1280px;
}


/* ----------- estilos barra de navegação--------------*/

ul {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
}


/* ----------------------------------------------------*/


/* ----------------------------------------------------*/


/* ----------------------------------------------------*/


/* ----------------------------------------------------*/


/* ----------------------------------------------------*/


/* ----------------------------------------------------*/