/*
Theme Name: Brafé
Theme URI: www.brafe.com
Author: IN Junior
Author URI: www.injunior.com.br
Description: Esse tema foi criado para dar aula no treinamento 2020.2
Version: 1.0
*/

body {
    --dark: #202020;
    --light: #fefefe;
    --gray: #E9E5D9;
    --gray-dark: #D8D4C9;
    --paulista: #512400;
    --carioca: #d97232;
    --mineiro: #e8a744;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    font-family: Georgia, serif;
    margin: auto;
    max-width: 1280px;
}

main {
    min-height: calc(100vh-200px)
}

header {
    height: 70px;
    width: 100%;
    background: #666;
}

p {
    font-size: 1.6em;
    font-stretch: condensed;
    line-height: 1.5;
}

h1 {
    font-size: 2em;
    line-height: 1.5;
}

h2 {
    font-size: 1.6em;
    line-height: 1.5;
}

h3 {
    font-size: 1.6em;
    line-height: 1.5;
}


/*----------------- Menu de navegação ----------------*/

.navbar {
    background: #252525;
    padding: 15px 0;
}

.navbar figure {
    text-align: left;
    display: inline-block;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    /* justify-items: space-between; */
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    color: white;
}


/* ------- estilos do body ------*/

button {
    background-color: white;
}

button:hover {
    background-color: dark;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


/*--------- Intro ------------*/

.intro {
    background: url('../img/bg-intro.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--light);
    min-height: 50vh;
    display: flex;
    padding: 100px 0;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: min-height .3s;
}

.sobre {
    background-color: var(--light);
}

.produtos {
    background-color: var(--gray);
}

.portfolio {
    background-color: var(--light);
}

.newsletter {
    background-color: var(--gray);
}


/* footer */

.footer {
    background-color: var(--gray-dark);
}

.footer figure {
    text-align: end;
}


/*---------- 404 --------*/

#pg-404 h1 {
    font-size: 4.8rem;
}